<h1>Proyecto Final de Ciencia de Datos en Python - Primer Trimestre </h1>
<ul>
    <li>Nombre: Huber Torres Lemus</li>
    <li>Carnet: 22000782</li>
</ul>

<h5>Declaracion de librerias</h5>

In [2]:
import numpy as np
import pandas as pd
import sklearn
# graficas
import seaborn as sns 
import matplotlib.pyplot as plt

<h5>Carga de data</h5>

In [40]:
data = np.load('data/proyecto_training_data.npy', mmap_mode='r')

fields = ['SalePrice', 'OverallQual', '1stFlrSF', 'TotRmsAbvGrd', 'YearBuilt', 'LotFrontage']
df_data = pd.DataFrame(data, columns = fields)
df_data.describe()

,SalePrice,OverallQual,1stFlrSF,TotRmsAbvGrd,YearBuilt,LotFrontage
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1201.000000
mean,180921.195890,6.099315,1162.626712,6.517808,1971.267808,70.049958
std,79442.502883,1.382997,386.587738,1.625393,30.202904,24.284752
min,34900.000000,1.000000,334.000000,2.000000,1872.000000,21.000000
25%,129975.000000,5.000000,882.000000,5.000000,1954.000000,59.000000
50%,163000.000000,6.000000,1087.000000,6.000000,1973.000000,69.000000
75%,214000.000000,7.000000,1391.250000,7.000000,2000.000000,80.000000
max,755000.000000,10.000000,4692.000000,14.000000,2010.000000,313.000000

<ul>
    <li>entrenamiento(80%)</li>
    <li>validaci√≥n y pruebas(20%)</li>
<ul>

In [42]:
mask = int(0.8 * len(data))
training_data = data[:mask]
test_data = data[mask:]

df_training, df_test = pd.DataFrame(training_data, columns = fields), pd.DataFrame(test_data, columns = fields)

print(f"No. datos training: {training_data.shape[0]}")
print(f"No. datos test: {testing_data.shape[0]}")

No. datos training: 1168
No. datos test: 306

<h5>Analisis exploratorio de datos</h5>

In [43]:
df_training.describe()

,SalePrice,OverallQual,1stFlrSF,TotRmsAbvGrd,YearBuilt,LotFrontage
count,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,962.000000
mean,180590.277397,6.101027,1156.323630,6.485445,1971.451199,69.946985
std,78815.697902,1.378025,373.780374,1.609141,29.951707,23.478161
min,34900.000000,1.000000,334.000000,2.000000,1875.000000,21.000000
25%,129900.000000,5.000000,882.000000,5.000000,1954.000000,59.000000
50%,162950.000000,6.000000,1086.000000,6.000000,1973.000000,70.000000
75%,214000.000000,7.000000,1390.250000,7.000000,2000.000000,80.000000
max,755000.000000,10.000000,3228.000000,14.000000,2010.000000,313.000000

In [45]:
df_test.describe()

,SalePrice,OverallQual,1stFlrSF,TotRmsAbvGrd,YearBuilt,LotFrontage
count,292.000000,292.000000,292.000000,292.000000,292.000000,239.000000
mean,182244.869863,6.092466,1187.839041,6.647260,1970.534247,70.464435
std,82026.898202,1.405076,433.843272,1.685462,31.229373,27.341710
min,52500.000000,3.000000,483.000000,3.000000,1872.000000,21.000000
25%,130000.000000,5.000000,881.250000,6.000000,1950.000000,59.500000
50%,163500.000000,6.000000,1106.000000,6.000000,1971.500000,67.000000
75%,214250.000000,7.000000,1407.750000,8.000000,2001.000000,80.000000
max,745000.000000,10.000000,4692.000000,12.000000,2009.000000,313.000000

In [26]:
df_data = pd.DataFrame(data)
df_data.head()

df_data.describe()

mask = np.random.rand(len(df_data)) <= 0.8
training_data = df_data[mask]
testing_data = df_data[~mask]

No. of training examples: 1154
No. of testing examples: 306